.preview-f4 {
    width:175mm;
    margin: 0 auto;
}
.editor-f4 {
    width:205mm;
    margin: 0 auto;
}

.editor-f4.landscape {
    width:337mm;
}
.paper-f4.landscape {
    width:337mm;
    background-color: red;
}


.preview-container, .redactor-editor {
    font-family: "Times New Roman", Arial, Sans-serif;
}

.preview-container table {width: 100%}
.preview-container table td {vertical-align: top}
.preview-container ol, .preview-container ul {margin-left: 0; padding-left: 20px}
.preview-container hr{margin: 0; border-color: #000}
.redactor-editor hr {margin: 0; border-color: #000}

@media print {
    @page {
        margin-top: 5mm;
        margin-right: 20mm;
        margin-left: 20mm;

    }
    *{
        margin: 0;
        padding: 0;
        font-size: 18px;
        line-height: 1.3em;
    }
    .preview-container {
        display: block;
        margin:0;
        padding: 0;
    }
    div{
        border: 0 none !important;
    }
    footer {page-break-after: always;}
}

.nama-nip {
    border-bottom: 1px solid #000;
    text-align: center;
}
p {
    text-align: justify;
}
li {
    text-align: justify;
}
.indent{
    text-indent: 3em;
    line-height: 2em;
}